#header {
	position: fixed;
	border-style: solid;
    border-width: 1px;
	height: 120px;
	width: 99%;
	top: 0;
	background-color: green;
}

#logo { 
    margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 15px;
	height: 90px;
	width: 170px;
}

#menu {
	width: 200px;
	margin: 0 auto;
	margin-top: -50px;
}
#menu a {
	font-size: large;
}

#photo {
    border-radius: 50%;
	height: 70px;
	width: 70px;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

#name {
	float: right;
	margin-top: 100px; 
	margin-right: -80px;
}

#profile {
	margin-top: -100px;
	padding-right: 20px;
}

#scrollContent {
	margin-top: 130px;
	height: 2000px;
}

.transparency {
	opacity: 0.5;
}

.smallFont {
	font-size: small;
}